*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.dash-header{
    z-index: 0;
}
#logout{
    color:red;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
}
.dashboard-wrap{
    background-color:#ffffff;
    padding-bottom: 4%;
}
.scroller{
    max-width: 100%;
    background-color:#000000;
    z-index: 10;
}
.scroller_inner{
    display:flex;
    color:white;
    padding:1%;
    gap:1rem;
}
.scroller[data-animated="true"]{
    overflow: hidden;
}
.scroller[data-animated="true"] .scroller_inner{
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}
.price_wrap{
    display: flex; 
    align-items: center; 
    width:170px;
}
.price_wrap img{
    width:20px;
    height:20px;
}
.price_wrap p{
    color:white;
    font-size: 12px;
    margin-left: 5px;
}
@keyframes scroll{
    to{
        transform: translate(-20%);
    }
}
.main-board{
    width:70%;
    margin:0 auto;
    padding:1% 0% 0% 0%;
}
.acct-name{
    padding:1% 0%;
}
.acct-info{
    border-radius: 5px;
}
.acct-name h3{
    color: #0A1C2D;
    font-size: 25px;
    margin-left: 1%;
}
.global{
    background-color: rgb(0, 0, 0);
    width:35%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 10px;
}
.global p:first-child{
    padding: 1% 3%;
    color: white;
}
.acct-info{
    background-color: white;
    padding:1%;
}
.acct-info ul{
    display: flex;
    align-items: center;
}
.acct-info ul li{
    list-style:none;
    background-color: black;
    margin-right: 1%;
    padding: 0.6% 1%;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.acct-info ul li:nth-child(1){
    background-color: orangered;
}
.acct-info ul li:nth-child(2){
    background-color: rgb(113, 188, 0);
}
.acct-info ul a{
    width: 20%;
    margin-right: 1%;
}
.acct-info ul a li{
   background-color: goldenrod !important;
   margin-right: 0% !important;
   padding: 3% 1%  !important;
   text-align: center;
}
.acct-info ul li:nth-child(4){
    background-color: blue;
}
.update-details{
    flex-direction: column;
    position: absolute;
    margin-top: 10px;
    visibility: collapse;
}
.update-details li{
    width:120%;
    font-size: 10px;
    text-align:center;
    margin-top: 5px;
    background-color: transparent !important;
    color: blue !important;
    font-weight: bold;
    border-bottom:2px solid blue;
    border-radius: 0px !important;
}
.active-sub-menu{
    visibility: visible;
}
.finance-info{
    margin-top: 2%;
}
.currency{
    display: flex;
    align-items: center;
    padding:0% 3%;
}
.currency img{
    width: 5%;
}
.bitcoin{
    margin-left: 10px;
}
.bitstamp{
    display: flex;
    align-items: center;
    width: 105%;
    justify-content: space-between;
}
.bit-icon{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    border-radius: 50px;
}
.bit-icon img{
    width:100%;
}
.balance-stat{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding:0% 3%;
}
.stat{
    display: flex;
    justify-content: space-between;
    width:50%;
}
.stat h3{
    margin-bottom: 5px;
    font-size: 14px;
}
.stat p{
    font-size: 10px;
}
.main-balance{
    margin-top: 1%;
}
.main-balance h1 sub{
    font-size: 10px;
}
.main-balance p{
    margin-top: 5px;
    font-size: 10px;
}
.accout-sum{
    margin-top: 3%;
    padding: 3%;
    box-shadow: 0px 0px 15px 1px rgb(220, 220, 220);
}
.accout-sum h2{
    padding-left: 3%;
    color:#0A1C2D;
}
.sum-card{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card1{
    display:flex;
    width:30%;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2%;
    box-shadow:0px 0px 5px rgba(128, 128, 128, 0.453);
}
.card1 h1{
    font-size: 22px;
}
.card1 p{
    color:rgb(126, 126, 126);
}
.card1 i{
    font-size: 35px;
    color:blue;
}

/* UPDATE DETAILS FORM */

.update-form{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 2%;
    top:-500px;
    right: 20px;
    width:30%;
    box-shadow: 0px 0px 15px 1px rgb(226, 226, 226);
    z-index:1;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}
.form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.form-title h1{
    font-size: 20px;
    font-weight: bold;  
}
#details-exit, #exit-Password{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.form-group label{
    font-size: 12px;
    font-weight: bold;
}
.form-group input{
    width: 100%;
    padding: 1%;
    border-style: inset;
}
.btn{
    background-color: rgb(0, 0, 0);
    width: 100%;
    color:white;
}
.active-password-form{
    top:200px;
}
.history-board{
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    top:260px;
    right:-500px;
    width:35%;
    box-shadow: 0px 0px 15px 1px rgb(226, 226, 226);
    transition-duration:1s;
    overflow-y: scroll;
    z-index: 1;
}
.active-his-board{
    right:20px;
}
.his-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}
.transactions{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(248, 248, 248);
    padding:10px 5px;
    margin-top: 10px;
}
.show-passworrd{
    width:10%;
    position: absolute;
    right:3%;
    cursor: pointer;
    margin-top: 2.3%;
} 
.fa-eye-slash{
    display: none;
}
.dash-footer-logo{
    margin-top: 5%;
}

/* MEDIA QUERY */
@media only screen and (max-width:600px){
    .main-board{
        width:95%;
    }
    .update-form{
        width:90%;
        top:-700px;
    }
    .active-password-form{
        top:400px;
    }
    .history-board{
        width:90%;
        top:400px;
    }
    .active-his-board{
        right:20px;
    }
    .his-title{
        font-size: 8px;
    }
    .global{
        width:95%;
        border-radius:0px;
        margin: 2px auto;
    }
    .global p:first-child{
        width: 100%;
        text-align: center;
        padding: 1% 0%;
        font-size: 12px;
    }
    .acct-name{
        margin-bottom: 5%;
    }
    .acct-name h3{
        font-size: 20px;
        text-align: center;
    }
    .acct-info ul{
        justify-content: space-between;
        margin-bottom: 8%;
        flex-direction: column;
    }
    .acct-info ul li{
        width: 95%;
        font-size: 10px;
        text-align: center;
        margin-top: 2%;
    }
    .acct-info ul a{
        width: 95%;
        margin-top: 2%;
    }
    .acct-info ul a li{
        margin-top: 0%;
        margin-right: 0% !important;
        padding: 1% 0%  !important;
        width: 100%;
     }
     .update-details{
        width: 88%;
        margin-top: 0px;
    }
    .update-details li{
        width:95%;
        border: none;
        background-color: black !important;
        margin-top: 0px;
        border-radius: 5px !important;
        color: white !important;
    }
    .finance-info{
        margin-bottom: 5%;
    }
    .currency img{
        width: 20%;
    }
    .balance-stat{
        flex-direction: column;
        align-items: center;
        padding:0% 0%;
        margin-bottom: 10%;
    }
    .main-balance{
        margin-bottom: 3%;
        margin-left: 5%;
    }
    .stat{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .stat h3{
        margin-bottom: 0px;
    }
    .stat p{
        font-size: 8px;
    }
    .sum-card{
        flex-direction: column;
    }
    .card1{
        width:80%;
        margin-top: 5%;
        flex-direction: column-reverse;
        text-align: center;
        padding: 10% 0%;
    }
    .logo{
        margin-top: 13px;
        width: 80%;
    }
    .mobile-nav-toggler{
        margin-left: 40%;
    }
    .logo-img{
        width: 300% !important;
    }
    #logout{
       margin-top: 3%;
    }
}